
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@{ 
    var returnUrl = ViewData["ReturnUrl"] as string;
}
<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->
<head>
    <title>Admin Panel Giriş Sayfası</title>
    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/weblogin/css/style.css" type="text/css" media="all">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/weblogin/css/font-awesome.min.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">
</head>
<!-- //Head -->
<!-- Body -->
<body>
    <section class="main">
        <div class="bottom-grid">
            <div class="logo">
                <h1> <a href="index.html"> Admin Panel Giriş Ekranı</a></h1>
            </div>
        </div>
        <div class="content-w3ls">
            <div class="text-center">
                <span class="fa fa-meetup"></span>
            </div>
            <div class="content-bottom">
                <form action="/Admin/Index/" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="AdminUserName" id="text1" type="text" placeholder="Kullanıcı Adı" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="AdminPassword" id="myInput" type="Password" placeholder="Şifre">
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn">Giriş Yap</button>
                    </div> <br />
                    <ul class="list-login-bottom">
                        <li class="">
                            <a href="#url" class="">Hesap Oluştur</a>
                        </li>
                    </ul>
                    <ul class="list-login-bottom">
                        <li class="">
                            <a href="#" class="text-right">Şifrenizi Mi Unuttunuz ?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>

                </form>
            </div>
        </div>
        <div class="copyright">
            <p>© @DateTime.Now.Year Tüm Hakları Saklıdır | <a href="/Home/Index/">Medicate Hastanesi</a></p>
        </div>
    </section>   
</body>
<!-- //Body -->

</html>