
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="comment-top">
    <h4>Yeni Doktor Kayıt</h4><br />
    <div class="col-xs-7">
        <form action="#" method="post">
            <input class="form-control" type="text" name="DoctorTitle" placeholder="Ünvanı" required=""><br />
            <input class="form-control" type="text" name="DoctorName" placeholder="Adı" required=""><br />
            <input class="form-control" type="text" name="DoctorSurname" placeholder="Soyadı" required=""><br />
            <input class="form-control" type="text" name="ClinicId" placeholder="Klinik" required=""><br />               
            @Html.DropDownList("Kategoriler",new SelectList(ViewBag.Clinic,"Value","Text"),"Kategori Seçiniz",new { @class="form-control" })<br />           
            <button type="submit" class="btn btn-primary submit" style="float:left">Kayıt Oluştur</button>

                </form>
            </div>
        </div>

