@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@RenderBody()
<!-- footer-->
<div class="agileits_w3layouts-footer">
    <div class="agileits-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86654334463!2d-74.25818682528057!3d40.70531100753592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1491897561113" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="copy-right text-center">
        <span class="agileits-copy fa fa-plus" aria-hidden="true"></span>
        <p>
            @DateTime.Now.Year | Medicate Hastanesi
        </p>
    </div>
</div>
<!-- footer-->