@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Medicate Hastanesine Hoş Geldiniz.</title>
    <script type="text/javascript" src="~/web/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/web/js/bootstrap.js"></script>
    <!-- stylesheet -->
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- gallery css -->
    <!-- //stylesheet -->
    <!-- font-awesome-icons -->
    <link href="~/web/css/font-awesome.css" type="text/css" rel="stylesheet">
    <!-- //font-awesome-icons -->
</head>
<body>
    <div class="agileits_main">
        <!-- header -->
        <div class="container">
            <div class="w3_agile_logo">
                <h1><a href="/Home/Index"><i class="agileits-logo fa fa-plus" aria-hidden="true"></i>Medicate</a></h1>
            </div>
            <div class="agileits_w3layouts_nav">
            </div>
        </div>
        <!-- menu -->
        <script type="text/javascript" src="js/main.js"></script>
        <!-- //menu -->
        <!--// header -->
        <!-- banner -->
        <div class="w3_banner">
            <div class="container">
                <div class="slider">
                    <div class="callbacks_container">
                        <div class="banner_text_w3layouts">
                            <h3>Hastanemize Hoş Geldiniz</h3>
                            <p>Uzman Kadromuz ile Size Yardımcı Olmaktan Büyük Mutluluk Duyacağız</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <div class="jarallax w3ls-about w3ls-section " id="about">
        <div class="container">
            <h3 class="h3-w3l">about us</h3>
            <div class="about-head text-center">
                <div class="col-md-4 col-sm-4 col-xs-6 wthree-s1 ">
                    <span class="fa fa-medkit sicon" aria-hidden="true"></span>
                    <h4>İlk Yardım Ekibi</h4>
                    <p>Praesent imperdiet mollis odio,eget sodales tortor porttitor.Vac turpis egestas tortor.eget sodales tortor porttitor</p>
                    <div class="w3-button">
                        <a href="#" data-toggle="modal" data-target="#myModal">Devamını Oku</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 wthree-s1  s1  s1-active">
                    <span class="fa fa-user-md sicon" aria-hidden="true"></span>
                    <h4>Uzman Kadromuz</h4>
                    <p>Praesent imperdiet mollis odio,eget sodales tortor porttitor.Vac turpis egestas tortor.eget sodales tortor porttitor</p>
                    <div class="w3-button">
                        <a href="#" data-toggle="modal" data-target="#myModal">Devamını Oku</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 wthree-s1">
                    <span class="fa fa-ambulance sicon" aria-hidden="true"></span>
                    <h4>Acil Birimimiz</h4>
                    <p>Praesent imperdiet mollis odio,eget sodales tortor porttitor.Vac turpis egestas tortor.eget sodales tortor porttitor</p>
                    <div class="w3-button">
                        <a href="#" data-toggle="modal" data-target="#myModal">Devamını Oku</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- Appointment -->
    <div class=" w3_agileits-apt">
        <div class="container">
            <div class="agile-caption">
                <h4 class="apt-t"><span class="apt-t1">Hemen Kaydınızı Yaptırın</span><br /> Doktorlarımızdan Destek Alın</h4>
                <div class="agileits-apmnt-button">
                    <a href="#" data-toggle="modal" data-target="#myModal1" class="btn btn-success">Randevu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //Appointment -->
    <!-- modal -->
    <div class="modal about-modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Quick</h4>
                    <h5>appointment booking</h5>
                </div>
                <div class="modal-body">
                    <div class="wthree-info">
                        <h3>Randevu Almak İçin Formu Doldurunuz.</h3>
                        <div class="login">
                            <form action="#" method="post">
                                <input type="text" name="Name" placeholder="Adınız" required="">
                                <input type="text" name="Surname" placeholder="Soyadınız" required="">
                                <input type="text" name="Phone" placeholder="Telefon Numaranız" required="">
                                <input type="text" name="IdNumber" placeholder="Tc Kimlik Numaranız" required="">
                                @*<input placeholder="Date" class="date" id="datepicker" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="" />*@
                                <select required="">
                                    <option value="">Tarih Seçiniz</option>
                                    <option value="1">08:00-8:30</option>
                                    <option value="2">08:30-9:00</option>
                                    <option value="3">09:00-9:30</option>
                                    <option value="4">09:30-10:00</option>
                                </select>
                                <select required="">
                                    <option value="">Poliklinik Seçiniz</option>
                                    <option value="1">Dermatoloji</option>
                                    <option value="2">Genel Cerrahi</option>
                                    <option value="3">Beslenme Ve Diyetetik</option>
                                    <option value="4">Ortopedi</option>
                                </select>
                                <button formmethod="post">Randevu Oluştur</button>
                                @*<input type="submit" value="request appointment">*@
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    @RenderBody()
    <!-- footer-->
    <div class="agileits_w3layouts-footer">
        <div class="agileits-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86654334463!2d-74.25818682528057!3d40.70531100753592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1491897561113" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="copy-right text-center">
            <span class="agileits-copy fa fa-plus" aria-hidden="true"></span>
            <p> @DateTime.Now.Year | Medicate Hastanesi</p>
        </div>
    </div>
    <!-- footer-->

</body>
</html>